<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/user_layout">
<th:block layout:fragment="css">
</th:block>
<div layout:fragment="content">

  <div class="studyHeader">
    <h2> 공부 </h2>
  </div>

  <div class="cardWrap">
    <div class="cardTitle html">
      <a>
        <h2>HTML</h2>
      </a>
    </div>
    <div class="cardTitle css">
      <a>
        <h2>CSS</h2>
      </a>
    </div>
    <div class="cardTitle javascript">
      <a>
        <h2>JavaScript</h2>
      </a>
    </div>
    <div class="cardTitle react">
      <a>
        <h2>React</h2>
      </a>
    </div>
    <div class="cardTitle cmd">
      <a>
        <h2>CMD</h2>
      </a>
    </div>
    <div class="cardTitle apacheTomcat">
      <a>
        <h2>Apache Tomcat</h2>
      </a>
    </div>
    <div class="cardTitle thymeleaf">
      <a>
        <h2>Thymeleaf</h2>
      </a>
    </div>
    <div class="cardTitle github">
      <a>
        <h2>GitHub</h2>
      </a>
    </div>
    <div class="cardTitle gitlab">
      <a>
        <h2>GitLab</h2>
      </a>
    </div>
    <div class="cardTitle linux">
      <a>
        <h2>Linux</h2>
      </a>
    </div>
    <div class="cardTitle docker">
      <a>
        <h2>Docker</h2>
      </a>
    </div>
    <div class="cardTitle docker">
      <a>
        <h2>Docker</h2>
      </a>
    </div>
    <div class="cardTitle datastructure">
      <a>
        <h2>자료구조</h2>
      </a>
    </div>
    <div class="cardTitle algorithm">
      <a>
        <h2>알고리즘</h2>
      </a>
    </div>
  </div>
</div>
<th:block layout:fragment="script">
</th:block>
</html>