<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />

    <th:block th:replace="fragments/clientConfig :: clientConfigFrg"></th:block>
</head>
<body>
    <div class="bodyBackGround">
        <div class="app">
            <!-- Header 연결 추후 고민하기 현재 사용 X -->
<!--            <th:block th:replace="fragments/clientHeader :: clientHeaderFrag"></th:block>-->
            <!-- Side bar 연결 -->
            <th:block th:replace="fragments/clientSideBar :: clientSideBarFrag"></th:block>
            <!-- Content 연결-->
            <th:block layout:fragment="content" class="conWrap">
                <!-- Footer 연결-->
                <th:block th:replace="fragments/clientFooter :: clientFooterFrag"></th:block>
            </th:block>
        </div>
    </div>
</body>
</html>