<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/user_layout">
<th:block layout:fragment="css">
</th:block>
<div layout:fragment="content">
  <!-- 메인대시보드에 넣어야 할것 -->
  <!-- 방문자 현황 / 공지사항 여러개 생각하기 -->
  <div class="fullpage">
    <section class="cont1">
      <h2>grid사용?</h2>
    </section>
    <section class="cont2">
      <h2>grid사용?2</h2>
    </section>
    <section class="cont3">
      <h2>grid사용?3</h2>
    </section>
  </div>
</div>
<th:block layout:fragment="script">
  <script th:src="@{/js/client/client.js}"></script>
</th:block>
</html>