<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="clientHeaderFrag" class="cHeaderWrap">
    <div class="cHeader">
        <div class="navWrap">
            <!-- 프로필 -->
            <ul class="nav">
                <li>
                    <a th:href="@{/proFile}">
                        <span>프로필</span>
                    </a>
                </li>
            </ul>
            <!-- 포토폴리오 -->
            <ul class="nav">
                <li>
                    <a th:href="@{/portFolio}">
                        <span>포토폴리오</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li>
                    <a th:href="@{/game}">
                        <span>Game</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li>
                    <a th:href="@{/dailyLifeTip}">
                        <span>생활 속 꿀팁</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li>
                    <a th:href="@{/study}">
                        <span>Study</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li>
                    <a th:href="@{/youTube}">
                        <span>Youtube</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="loginBox">
            <div class="login">
                <a th:href="@{/login}">로그인</a>
            </div>
            <div class="signup">
                <a th:href="@{signup}">회원가입</a>
            </div>
        </div>-->
    </div>

</div>
</html>